# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension has been downloaded from the official download link:
- https://mupdf.com/downloads

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

checksum32: F3DF8C09FAC1018D6C57C20B9CC09EA89B2E19A434378ABE57CE8EDE3A76D01A

## License
File 'LICENSE.txt' is obtained from:
- https://git.ghostscript.com/?a=blob;f=COPYING;p=mupdf.git
