# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension has been downloaded from the official download link:
- https://mupdf.com/downloads

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

checksum32: 35E69030E721185F8E4471FE8C7572D912FCF56671CE83FBAC5709D55FB7C962

## License
File 'LICENSE.txt' is obtained from:
- https://git.ghostscript.com/?a=blob;f=COPYING;p=mupdf.git
